@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/mixins' as *;

.wrapper {
  background-color: $color-light;
  text-align: center;
  padding: 5rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  @include lg {
    flex-direction: row;
    // grid-template-columns: repeat(2, 1fr);

    &:nth-child(even) {
      flex-direction: row-reverse; // 3
    }
  }
}

.content {
  display: grid;
  gap: 1.5rem;
}

.categoryImage {
  width: 100%;

  @include lg {
    // max-width: 33.75rem;
  }
}

.image {
  min-width: 10.765rem;
  // max-height: 12.9375rem;
  min-height: 12rem;
  max-height: 100%;
  // min-height: 10rem;
  width: 100%;
  // padding-block: 3.44rem 2rem;
  // position: relative;
  margin: 0 auto;
  transform: translateY(-1.5rem);
  // top: 12rem;
  background-image: url('/assets/images/home/mobile/image-speaker-zx9.png'); // Default mobile image
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include md {
    // content: url('/assets/images/home/tablet/image-speaker-zx9.png');
    background-image: url('/assets/images/home/tablet/image-speaker-zx9.png'); // Tablet image
    // transform: translateY(-1.5rem);
    transform: unset;

    // width: 100%;
    // top: 8rem;
    min-width: 12.32575rem;
    // height: 45rem;
  }

  @include lg {
    // Desktop image
    background-image: url('/assets/images/home/desktop/image-speaker-zx9.png'); // Desktop image
    // margin: unset;
    // background-position: center;
    position: relative;
    top: 7.75rem;
    left: 4rem;
    min-width: 25.63963rem;
    min-height: 30.8125rem; // min-width: 50rem;
    // width: 65%;
    // height: 100%;
    // max-height: 20rem;
    // content: url('/assets/images/home/desktop/image-speaker-zx9.png');
    // object-fit: contain;
  }
}

.category {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  background-color: $background-color-dark;
  position: absolute;
  z-index: 1;
  width: 100%;
  right: 0;
  top: 5.75rem;
  padding: 2rem 1rem;
}

.heroImage {
  // max-width: 20rem;
  position: relative;
  // min-height: 20rem;
  border-radius: 0.5rem;
  // min-width: 20.4375rem;
  // min-height: 22rem !important;
}

.content {
  z-index: 1;
  // padding: 2rem;
  text-align: center;
  position: relative; // This is needed for z-index to take effect
  width: 100%; // Ensures content takes up the width of the hero section
  max-width: 20.5rem; // Use max-width for better responsiveness
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(2rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.5rem;
  gap: 1.5rem;

  @include md {
    max-width: 23.6875rem;
    // padding: 2rem 1rem;
  }

  @include lg {
    text-align: left;
    align-items: flex-start;
  }
}

.imageWrapper {
  width: 100%;

  // margin: 0 auto;
  max-width: 40rem;
  margin: 0 auto;
  // position: absolute;
  // top: 30rem;
}

// .imageWrapper img {
//   min-height: 22rem !important;
//   object-fit: cover;
//   width: 100%;
//   // max-width: 43.0625rem;
// }

.imageUrl {
  width: 100%;
}

.button {
  margin: 0 auto;
}
