@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/buttons' as *;

.heroCard {
  position: relative;
  text-align: center;
  background: $color-primary;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  min-width: 20.4375rem;
  min-height: 37.5rem;
  overflow: hidden;

  @include md {
    width: 43.0625rem;
    height: 45rem;
  }
}

.heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem 2.4rem 0.75rem;
  margin-bottom: 3rem;
  position: relative;

  @include md {
    padding: 4rem 11.4rem 0.75rem;
  }
}

// .background {
//   background: url('/assets/images/home/desktop/pattern-circles.svg');
//   background-repeat: no-repeat;
//   background-position: top center;
//   //   scale: 2;
// }

.name {
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  line-height: 2.5rem;
  letter-spacing: 0.08038rem;

  @include md {
    font-size: 3.5rem;
    margin: 0 auto;
    color: #fff;
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
  }
}

.description {
  padding: 1.5rem 0;
}

.image {
  //   position: relative !important;
}

.heroCard img {
  //   position: absolute !important;
}

.bgImageWrapper {
  height: 100%;
  width: 100%;
  top: -8rem;
  //   width: 20rem;
  //   height: 20rem;
  position: absolute;

  @include md {
    top: -20%;
    scale: 1.25;
  }
}

.background {
  //   scale: 3;
}

.imageWrapper {
  max-width: 10.765rem;
  //   height: 37.5rem;
  padding: 4.44rem 0 2rem;
  margin: 0 auto;
}

.imageWrapper img {
  position: relative !important;
  //   bottom: 10rem;
}

.button {
  @include btn-see-product-dark;
  margin: 0 auto;
}
