// organisms/Hero/Hero.module.scss
@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/mixins' as *;

.hero {
  z-index: 0;
  // position: relative;
  @include section-padding;
  min-height: 37.5rem; // Adjust to match the design height for the hero section
  // background-color: $background-color-dark-2; // Assume the background color before the image loads
  // z-index: 1;

  // @include md {
  //   min-height: 100%; // Adjust for larger screens based on your design
  // }
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3rem;

  @include md {
    min-height: 43rem;
    margin-bottom: unset;
  }

  @include lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    place-content: center;
    gap: 20rem;
    justify-content: center;
    align-items: center;

    // min-height: 30vh;
    // margin-bottom: -2rem;

    // height: 100vh;
  }

  @include xxl {
    gap: 30rem;
    min-height: 94vh;
    // min-height: 100vh;
  }
}

.title {
  opacity: 0.4964;
  padding-bottom: 1rem;

  @include md {
    font-size: 0.875rem;
    padding-bottom: 1.5rem;
  }

  @include lg {
    text-align: left;
  }
}

.subtitle {
  padding-bottom: 1.5rem;
  font-size: 2.25rem;

  @include md {
    font-size: 3.5rem;
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
  }

  @include lg {
    display: inline-flex;
    text-align: left;
  }
}

.description {
  opacity: 0.75;
  padding-bottom: 1.75rem;

  @include lg {
    text-align: left;
  }
}

.background {
  // position: absolute;
  // top: 0; // Set top to the height of the navbar if it's fixed at the top
  // left: 0;
  // right: 0;
  // height: 37.5rem; // Match this to the height of your hero section
  // z-index: -1;
  // overflow: hidden; // Ensures the image doesn't exceed the div container

  // @include md {
  //   // height: 50rem; // Adjust to match the hero section
  // }
  position: absolute;
  width: 100%;
  height: 100%;
  // z-index: -1;

  @include md {
    height: auto;
    width: auto;
  }

  @include lg {
    height: 100%;
    width: 100%;
  }
}

.heroImage {
  // object-fit: cover;
  // width: 100%;
  // transform: translateY(-3rem);
  // height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  // transform: translateY(-3rem);
  height: 100%;

  @include md {
    content: url('/assets/images/home/tablet/image-header.jpg');
    // transform: translateY(-1.5rem);
  }

  @include lg {
    // Desktop image
    content: url('/assets/images/home/desktop/image-hero.jpg');
    // object-fit: contain;
    // transform: translateY(-2.5rem);
  }

  @include xl {
    // transform: translate(-1.5rem, -2rem);
  }
  @include xxl {
    // transform: translate(0.5rem, -4rem);
  }
}

.content {
  z-index: 1;
  // padding: 2rem;
  text-align: center;
  position: relative; // This is needed for z-index to take effect
  width: 100%; // Ensures content takes up the width of the hero section
  max-width: 20.5rem; // Use max-width for better responsiveness
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(2rem);

  @include md {
    max-width: 23.6875rem;
    // padding: 2rem 1rem;
  }

  @include lg {
    text-align: left;
    align-items: flex-start;
  }

  // @include lg {
  //   // Adjust content for desktop
  //   max-width: none;
  //   text-align: left;
  //   padding: 4rem; // Example padding, adjust as needed
  // }
}

.title,
.subtitle,
.description {
  color: white; // Ensures text is visible on background
}

.button {
  color: white;
}
