@use './colors' as *;

@mixin btn-see-product {
  width: 10rem;
  height: 3rem;
  background-color: $color-primary;
  color: $text-color-light;
  border: none;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-secondary; // light background on hover
  }

  &:active {
    background-color: darken($color-secondary, 5%); // slightly darker on active
  }
}

@mixin btn-shop {
  @include btn-see-product;
  background-color: $color-secondary; // initially dark background
  color: $color-primary; // initially primary color text

  &:hover {
    color: $color-secondary; // text color switches to dark on hover
  }
}

@mixin btn-outline {
  @include btn-see-product;
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-secondary; // light background on hover
  }

  &:active {
    background-color: darken($color-secondary, 5%); // slightly darker on active
  }
}

// Dark mode styles

@mixin btn-see-product-dark {
  @include btn-see-product;
  background-color: $color-secondary;
  color: $text-color-light;

  &:hover {
    background-color: $color-primary; // primary color background on hover for dark mode
  }
}

@mixin btn-shop-dark {
  @include btn-shop;
  background-color: $color-primary;
  color: $color-secondary;

  &:hover {
    color: $color-primary; // text color switches to primary on hover for dark mode
  }
}

@mixin btn-outline-dark {
  @include btn-outline;
  border-color: $color-text-light;
  color: $text-color-light;

  &:hover {
    background-color: $color-primary; // primary color background on hover for dark mode
  }
}
