@use './colors' as *;

@mixin btn-base {
  padding: 1rem 2rem;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block;
  border: none;
  border-radius: none;
  line-height: normal;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;

  &:hover,
  &:focus {
    // Define hover and focus styles
  }

  &:active {
    // Define active styles
  }

  &:disabled {
    // Define disabled styles
  }
}

@mixin btn-see-product {
  @include btn-base;
  background-color: $color-primary;
  color: $text-color-light;

  &:hover {
    background-color: $color-primary-hover; // light background on hover
  }

  &:active {
    background-color: darken($color-primary, 5%); // slightly darker on active
  }
}

@mixin btn-shop {
  @include btn-base;
  background-color: unset;
  color: $color-primary;

  &:hover {
    color: $text-color-dark-hover;
  }
}

@mixin btn-outline {
  @include btn-base;
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-dark;
    color: $text-color-light;
  }

  &:active {
    background-color: darken($color-secondary, 5%);
  }
}

// Dark mode styles

@mixin btn-see-product-dark {
  @include btn-see-product;
  background-color: $color-secondary;
  color: $text-color-light;

  &:hover {
    background-color: $color-primary; // primary color background on hover for dark mode
    // background-color: lighten($color-secondary, 10%); // slightly lighter for dark mode
  }
}

@mixin btn-shop-dark {
  @include btn-shop;
  background-color: $color-primary;
  color: $color-secondary;

  &:hover {
    color: $color-primary; // text color switches to primary on hover for dark mode
    // background-color: darken($color-primary, 10%); // slightly darker for dark mode
  }
}

@mixin btn-outline-dark {
  @include btn-outline;
  border-color: $text-color-light;
  color: $text-color-light;

  &:hover {
    background-color: $text-color-light;
    color: $color-primary;
  }
}
