// Primary colors
$color-primary: #d87d4a;
$color-secondary: #101010;
$color-tertiary: #f1f1f1;

// Text colors
$text-color-dark: #2c2c2c;
$text-color-light: #ffffff;

// Background colors
$background-color-light: #fafafa;
$background-color-dark: #101010;

// Dark Mode colors
$dark-mode-primary: $color-primary;
$dark-mode-secondary: $color-secondary;
$dark-mode-tertiary: #444444;
$dark-mode-text: $text-color-light;
$dark-mode-background: $background-color-dark;

// Light Mode colors
$light-mode-primary: $color-primary;
$light-mode-secondary: $color-secondary;
$light-mode-tertiary: #e0e0e0;
$light-mode-text: $text-color-dark;
$light-mode-background: $background-color-light;

// Other colors (if needed, for error, success or info messages)
$error-color: #ff0000;
$success-color: #28a745;
$info-color: #17a2b8;
