@use './colors' as *;
@use './breakpoints' as *;

@mixin section-padding {
  padding: 6rem 1.5rem; // Default mobile padding

  @include md {
    padding: 9rem 2.5rem; // Tablet padding
  }

  @include lg {
    padding: 9rem 4.31rem; // Desktop padding
  }

  @include xl {
    padding: 9rem 10.31rem; // Large desktop padding
  }
}

@mixin section-padding-hero {
  padding: 1.5rem 1.5rem 7.5rem; // Default mobile padding

  @include md {
    padding: 7.5rem 2.5rem; // Tablet padding
  }

  @include lg {
    padding: 9rem 4.31rem; // Desktop padding
  }

  @include xl {
    padding: 9rem 10.31rem; // Large desktop padding
  }
  // @include md {
  //   padding: 6rem 2.5rem 7.5rem; // Tablet padding
  // }

  // @include lg {
  //   padding: 9rem 4.31rem; // Desktop padding
  // }

  // @include xl {
  //   padding: 10.5rem 10.31rem; // Large desktop padding
  // }
}

@mixin cardHoverEffect {
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 4px 8px rgba($color-dark, 0.1);
  }
}
