@use './colors' as *;

@mixin btn-styles($bgColor, $textColor) {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  background-color: $bgColor;
  color: $textColor;

  &:hover {
    background-color: darken($bgColor, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px lighten($bgColor, 20%);
  }
}
