@use '../styles/breakpoints' as *;
@use '../styles/colors' as *;
@use './scrollbar' as *;
@use './variables';

// Importing the fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

// Define the Manrope font faces
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

* {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Typography Styles
// h1 {
//   font-weight: bold;
//   font-size: 56px;
//   text-transform: uppercase;
//   line-height: 58px;
//   letter-spacing: 2px;
// }

// body {
//   font-weight: 500;
//   font-size: 15px;
//   line-height: 25px;
// }

// h2 {
//   font-weight: bold;
//   font-size: 40px;
//   text-transform: uppercase;
//   line-height: 44px;
//   letter-spacing: 1.5px;
// }

// h3 {
//   font-weight: bold;
//   font-size: 32px;
//   text-transform: uppercase;
//   line-height: 36px;
//   letter-spacing: 1.15px;
// }

// h4 {
//   font-weight: bold;
//   font-size: 28px;
//   text-transform: uppercase;
//   line-height: 38px;
//   letter-spacing: 2px;
// }

// h5 {
//   font-weight: bold;
//   font-size: 24px;
//   text-transform: uppercase;
//   line-height: 33px;
//   letter-spacing: 1.7px;
// }

// h6 {
//   font-weight: bold;
//   font-size: 18px;
//   text-transform: uppercase;
//   line-height: 24px;
//   letter-spacing: 1.3px;
// }

// .overline {
//   font-weight: normal;
//   font-size: 14px;
//   text-transform: uppercase;
//   line-height: 19px;
//   letter-spacing: 10px;
// }

// .subtitle {
//   font-weight: bold;
//   font-size: 13px;
//   text-transform: uppercase;
//   line-height: 25px;
//   letter-spacing: 1px;
// }

// button {
//   cursor: pointer;
//   font-family: 'Manrope', sans-serif;
// }
